.cartCheck {
 color: #FFF;
}
.cart-chechout__form{
  width: 488px;
  margin: 0 auto;
  background: #0F121D;
  padding: 20px;
  border-radius: 20px;

  input {
    width: 90%;
    margin: 15px;

  }
}

.cartCheck__msj {
  color: white;
}
