.itemlist-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

.counter-container {
    display: flex;
    flex-direction: row;
    padding-top: 20px;

    &_count {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
    }
}