body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  background-color: #141823;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}